name: Build and Deploy to EC2 using GHCR

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ main ]

env:
  DOCKER_IMAGE: ghcr.io/${{ github.actor }}/dev-cv-image
  VERSION: ${{ github.sha }}
  NAME: dev-cv-container
  TAG: v1


jobs:

  build:
    name: Build
    runs-on: ubuntu-latest  
    steps:
      - name: Checkout src code
        uses: actions/checkout@v2
      
      - name: Setup docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Cache docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ env.VERSION }}
          restore-keys: |
            ${{ runner.os }}-buildx-
            
      - name: Login to ghcr
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
        
      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:${{ env.TAG }}
          platforms: linux/amd64,linux/arm64
  
  deploy:
    needs: build
    name: Deploy
    runs-on: [ self-hosted, label-test ]
    steps:
    
      - name: Login to ghcr
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
      
      - name: Docker run
        run: |
          docker stop ${{ env.NAME }} && docker rm ${{ env.NAME }} && docker rmi ${{ env.DOCKER_IMAGE }}:${{ env.TAG }}
          docker run -d -p 8000:8000 --name dev-cv-container --restart always ${{ env.DOCKER_IMAGE }}:${{ env.TAG }}
          
